:root { 
--indigo_A700_6c:#1f34e76c; 
--blue_A400_40:#367af540; 
--black_900:#000000; 
--indigo_A700_80:#1f34e780; 
--indigo_A700_7f:#1f34e77f; 
--indigo_A700_7e:#1f34e77e; 
--cyan_400_d7:#1fc3e7d7; 
--indigo_A400_7f:#3f51e87f; 
--indigo_A400_7e:#3f51e87e; 
--indigo_200_75:#9ba4ed75; 
--black_900_80:#00000080; 
--indigo_200_99:#9ba4ed99; 
--indigo_A700_7a:#1f34e77a; 
--bluegray_900:#0a2249; 
--indigo_200:#9ba4ed; 
--indigo_A700_75:#1f34e775; 
--indigo_A400_99:#3f51e899; 
--indigo_A700:#1f34e7; 
--indigo_A700_99:#1f34e799; 
--indigo_A400_75:#3f51e875; 
--indigo_A400:#3f51e8; 
--indigo_200_7f:#9ba4ed7f; 
--indigo_200_7e:#9ba4ed7e; 
--white_A700:#ffffff; 
--gray_800_6c:#3e3c3c6c; 
}